
services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 5
    restart: always

  auth:
    build:
      context: .
      dockerfile: ./auth/Dockerfile
    image: micro-auth
    env_file:
      - ./auth/.env
    ports:
      - 8080:8080
    depends_on:
      redis:
        condition: service_healthy

  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    image: micro-gateway

  product:
    build:
      context: .
      dockerfile: ./product/Dockerfile
    image: micro-product
    env_file:
      - ./product/.env
    ports:
      - 8081:8081

  cart:
    build:
      context: .
      dockerfile: ./cart/Dockerfile
    image: micro-cart
    env_file:
      - ./cart/.env
    ports:
      - 8082:8082

volumes:
  redis-data:
